$pPurple:#3F3D56;
$pBlue:#161F30;
$pGray: #97A6A0;
$line-width: 1px;


.project-border {
    border: $pPurple $line-width solid;
    border-radius: 15px;
    position: relative;
    padding: 1rem;



    img{
        border: $pGray solid 2px;
        border-radius: 5px;
    }
}
